if SHIELD_SERAPH_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Seraph"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SERAPH_LEFT || SHIELD_SERAPH_RIGHT

config ZMK_SETTINGS_RESET_ON_START
    default y

config ZMK_POINTING
    default y

config USB_DEVICE_MANUFACTURER
    default "Owen Friedman"

config BT_DIS_MANUF
    default "Owen Friedman"

config ZMK_SPLIT
    default y

endif
